:root {
    --primary: #6C63FF;
    --secondary: #f0f0f0;
    --ternaire: #303a52;
}

* {
    margin:0;
	padding:0;
	/* height:100%; */
    box-sizing: border-box;
    background: var(--secondary);
    font-size: 22px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.gameGrid {
    width:600px;
    height:600px;

	margin:auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.case{
    height: 170px;
    width: 170px;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    cursor: pointer;

    font-weight: lighter;
    font-size: 22px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: black;
}

.softUI {
    box-shadow: -2px -2px 8px rgba(255,255,255,1),
                -2px -2px 12px rgba(255,255,255,0.2),
                inset 2px 2px 3px rgba(255,255,255,0.05),
                2px 2px 8px rgba(0,0,0,0.15);
     /* border-radius: 40px; */
}
    
.softUI_active {
        box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
                    inset -2px -2px 12px rgba(255,255,255,0.2),
                    inset 2px 2px 3px rgba(255,255,255,0.05),
                    inset 2px 2px 8px rgba(0,0,0,0.15);
                    /* border-radius: 40px; */
}

.gameInfo {
    width:400px;
    height: 100px;

    background-color: var(--primary);

    margin:auto;
    
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 0px 10px var(--ternaire);
    border-radius: 1em;
}

.content {
    background-color: transparent;
    display: flex;
}

h1 {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    background-color: transparent;
    margin: 10px 15px;
}

input {
    margin: 10px;
    cursor: pointer;
}